@font-face {
    font-family: popin;
    src: url(/assets/font/Poppins-Regular.ttf);
}
@font-face {
    font-family: popinb;
    src: url(/assets/font/Poppins-Black.ttf);
}
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-100:#E7D1BB;
    --primary-200:#c8b39e;
    --primary-300:#84725e;
    --accent-100:#A096A5;
    --accent-200:#463e4b;
    --text-100:#A096A2;
    --text-200:#847a86;
    --bg-100:#151931;
    --bg-200:#252841;
    --bg-300:#3d3f5b;
      
}

html {
    scroll-behavior: smooth;
} 

.navigation{
    background-image: linear-gradient(to left , var(--bg-200), var(--bg-300));
    width: 100%;
    height: 7%;
    position: fixed;
}
.navigation ul{
    list-style-type: none;
    padding: 0;
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    gap: 2rem;
}

.navigation li{
    display: inline;
    border: 4px solid var(--primary-200);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 20px 5px 20px ;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}
.navigation a{
    text-decoration: none;
    font-size: 23px;
    font-weight: lighter;
    font-family: popin;
    color: var(--primary-200);
    
}


.navigation li:hover{
    border-color: var(--accent-100);
    background-color: var(--accent-100);
    color: var(--accent-200);
}

.name{
    font-family: popin;
    padding: 10px ;
}

.name h1{
    text-align: center;
    color: var(--text-100);
}
.name span{
    color: var(--primary-200);
}

body{
    background-color: var(--bg-100);
}

#home{
    width: 2800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center  ;
}
.block1{
    margin: 40px 200px 0px 100px;
    border: 8px double var(--bg-200);
    border-radius: 20px;
    background-color: var(--bg-200);
    transition: 0.5s ease-in-out;
}

.block1:hover{
    transform: scale(1.115);
    border: 8px double var(--primary-200);
    text-shadow: 1px 1px 5px var(--primary-100);
    box-shadow: 1px 1px 30px var(--primary-100);
}


.block1 p{
    font-family: popin;
    font-size: 28px;
    padding: 25px 25px 25px 25px;
    color: var(--primary-100);
    background-image: var(--bg-300);
    width: 205;
    height: 20%;
}

.block2{
    margin: 0px 100px 0px 250px;
    border-radius: 20px;
    background-color: var(--bg-200);
    border: 8px double var(--bg-200);
    transition: 0.5s ease-in-out;
}

.block2:hover{
    transform: scale(1.115);
    border: 8px double var(--primary-200);
    text-shadow: 1px 1px 5px var(--primary-100);
    box-shadow: 1px 1px 30px var(--primary-100);
}

.block2 p{
    font-family: popin;
    font-size: 28px;
    padding: 25px 25px 25px 25px;
    color: var(--primary-100);
    background-image: var(--bg-300);
    width: 205;
    height: 20%;
}
.block2 a{
    text-decoration: none;
    color: var(--primary-100);
    target="_blank";
}
.block2 a:hover{
    color: var(--accent-100);
    text-decoration: underline;
}
.block2 a:active{
    color: pink;
}
.block2 a:visited{
    color: var(--primary-200);
}

.fotopro img{
    margin: 100px 10px 10px 10px;
    padding: 5px;
    width: 300px;
    border: 2px solid var(--primary-100);
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.fotopro img:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 40px var(--primary-100);
    border-color: var(--bg-200);
}
.intro{
    font-family: popin;
    border: 3px solid var(--accent-100);
    text-align: center;
    color: var(--primary-200);
    background-color: var(--bg-300);
    margin: 22rem 50px 0px 50px;

}

.container{
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center  ;
    color: var(--primary-100);
    margin: 2.5rem 14rem 0rem 14rem;
    gap: 2rem ;
}

.foto1 img{
    margin-left: 2rem;
   width: 400px;
   align-items: center;
   padding: 10px 10px 10px 10px;
   border: 2px double var(--primary-100);
   border-radius: 10px;

}
.foto2 img{
    width: 400px;
    align-items: center;
    padding: 10px 10px 10px 10px;
   border: 2px double var(--primary-100);
   border-radius: 10px;
}
.foto3 img{
    width: 400px;
    align-items: center;
    padding: 10px 10px 10px 10px;
   border: 2px double var(--primary-100);
   border-radius: 10px;
}
.container2{
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center  ;
    color: var(--primary-100);
    margin: 2.5rem 14rem 0rem 14rem;
    gap: 2rem ;
}
.foto4 img{
    width: 400px;
    align-items: center;
    padding: 10px 10px 10px 10px;
   border: 2px double var(--primary-100);
   border-radius: 10px;
   margin-left: 14.5rem;
}
.foto5 img{
    width: 400px;
    align-items: center;
    padding: 10px 10px 10px 10px;
   border: 2px double var(--primary-100);
   border-radius: 10px;
}
#contact{
    text-align: center;
    margin-top: 10rem;
    padding-bottom: 10rem;

}
#contact ul{
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    margin-right: 20px;
    gap: 2rem;
    display: flex;
    justify-content: center;
}
.wa{
    display: inline;
    border: 4px solid var(--primary-200);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 20px 5px 20px ;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-size: 23px;
    font-weight: lighter;
    font-family: popin;
    color: var(--primary-200);
}
.ig{
    display: inline;
    border: 4px solid var(--primary-200);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 20px 5px 20px ;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-size: 23px;
    font-weight: lighter;
    font-family: popin;
    color: var(--primary-200);
}
.dc{
    display: inline;
    border: 4px solid var(--primary-200);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 20px 5px 20px ;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-size: 23px;
    font-weight: lighter;
    font-family: popin;
    color: var(--primary-200);
}
.valo{
    display: inline;
    border: 4px solid var(--primary-200);
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 20px 5px 20px ;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    font-size: 23px;
    font-weight: lighter;
    font-family: popin;
    color: var(--primary-200);
}
.wa:hover{
    border-color: var(--accent-100);
    background-color: var(--accent-100);
    color: var(--accent-200);
}
.dc:hover{
    border-color: var(--accent-100);
    background-color: var(--accent-100);
    color: var(--accent-200);
}
.ig:hover{
    border-color: var(--accent-100);
    background-color: var(--accent-100);
    color: var(--accent-200);
}
.valo:hover{
    border-color: var(--accent-100);
    background-color: var(--accent-100);
    color: var(--accent-200);
}
